NID_AUT=NID_AUT cookie value
NID_SES=NID_SES cookie value

CURRENT_USER_ID=id of user that current logged in with NID_AUT and NID_SES (ex: 5e1fca3b495440342ddc82182b1e36fe)

NAVER_ID=your naver id
NAVER_PW=your naver pw

CHROMEDRIVER=your chromedriver path

# Test channels - follow FOLLOWED_CHANNEL_1 and FOLLOWED_CHANNEL_2 before testing
# Unfollow UNFOLLOWED_CHANNEL before testing
FOLLOWED_CHANNEL_1=channel id that you followed (ex: 8e7a6f0a0b1f0612afee1a673e94027d)
FOLLOWED_CHANNEL_2=channel id that you followed (ex: c2186ca6edb3a663f137b15ed7346fac)
UNFOLLOWED_CHANNEL=channel id that you unfollowed (ex: 22bd842599735ae19e454983280f611e)